// color set
$themeColor: #30a065;
$mainBGColor: #fff;
$mainTextColor: #000;
$subTextColor: #656565;
$large: 20px;
$medium: 16px;

@font-face {
  font-family: hanna;
  src: url(../fonts/BMHANNA_11yrs_ttf.ttf);
}

h1 {
  color: $mainTextColor;
  font-family: 'hanna', sans-serif;
  font-size: $large;
}

b {
  font-weight: 700;
}

body {
  #map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
  }
  
  font-family: 'hanna', sans-serif;
  .top-group {
    position: absolute;
    width: 98vw;
    height: 2em;
    top: 3vh;
    left: 1vw;
    display: flex;
    align-items: center;
    font-size: $large;
    box-sizing: border-box;
    padding: 0 3vw;
    border-radius: 1.5em;
    background-color: $mainBGColor;
    color: $mainTextColor;
    box-shadow: 0.2em 0.2em 0.2em rgba($color: $mainTextColor, $alpha: 0.2);
    &.hidden {
      display: none;
    }
    .btn-menu {
      width: 10%;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: $mainTextColor;
    }
    .search-text {
      width: 80%;
      font-size: $large;
      color: $subTextColor;
    }
    .icon-search {
      width: 10%;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: $mainTextColor;
    }
  }
  // menu window
  .menu-window {
    &.hidden {
      display: none;
    }
    .dimmer {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color: #000, $alpha: 0.5);
      display: block;
      transition: .6s;
      &.hidden {
        visibility: hidden;
        opacity: 0;
      }
    }
    .container {
      position: absolute;
      width: 50vw;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      padding: 5vw;
      background-color: #fff;
      font-size: $large;
      transition: .6s;
      &.hidden {
        visibility: hidden;
        left: -50vw;
      }
      .user-profile {
        display: flex;
        align-items: center;
        margin-bottom: 2em;
        .user-profile-image {
          $size: 40px;
          width: $size;
          height: $size;
          border-radius: $size * 0.5;
          background-color: darken($color: $mainBGColor, $amount: 10);
          overflow: hidden;
          img {
            width: $size;
            height: $size;
          }
        }
        .user-name {
          margin-left: 1em;
        }
      }
      .map-option {
        font-size: $large;
        .btn-bus, .btn-subway {
          margin-bottom: 1em;
          cursor: pointer;
        }
      }
      >.boundary {
        margin-bottom: 1em;
      }
      .menu {
        .btn-notice, .btn-setting {
          font-size: $medium;
          color: $subTextColor;
          margin-bottom: 1em;
          cursor: pointer;
        }
      }
    }
  }
  // search window
  .search-window {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $mainBGColor;
    transition: .5s;
    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
    &.result-view {
      visibility: hidden;
      >.search-bar {
        visibility: visible;
      }
    }
    >.search-bar {
      position: absolute;
      width: 98%;
      height: 2em;
      top: 3%;
      left: 1%;
      display: flex;
      align-items: center;
      font-size: $large;
      box-sizing: border-box;
      padding: 0 3%;
      border-radius: 1.5em;
      color: $mainTextColor;
      background-color: $mainBGColor;
      box-shadow: 0.2em 0.2em 0.2em rgba($color: $mainTextColor, $alpha: 0.2);
      .btn-back {
        width: 10%;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: $mainTextColor;
      }
      >.search-text {
        width: 80%;
        font-size: $large;
        font-family: 'hanna', sans-serif;
        color: $mainTextColor;
        outline: none;
        padding: 0;
        border: none;
      }
      .btn-search {
        width: 10%;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: $mainTextColor;
      }
    }
    .result-container {
      margin-top: 5em;
      width: 100%;
    }
  }
  // route window
  .route-window {
    &.hidden {
      visibility: hidden;
    }
    &.set-point-mode {
      >.result-container {
        visibility: hidden;
      }
    }
    .result-container {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $mainBGColor;
      padding-top: 8em;
      box-sizing: border-box;
    }
    .set-point {
      position: absolute;
      width: 98%;
      height: 5em;
      top: 3%;
      left: 1%;
      overflow: visible;
      .start-point {
        height: 2em;
        display: flex;
        align-items: center;
        font-size: $large;
        margin-bottom: 1em;
        .btn-back {
          width: 1.5em;
          height: 1.5em;
          background-color: $mainBGColor;
          text-align: center;
          vertical-align: center;
          cursor: pointer;
          outline: none;
          color: $mainTextColor;
          padding: 4px;
          border-radius: 50%;
          margin: auto;
          box-sizing: border-box;
          box-shadow: 0.2em 0.2em 0.2em rgba($color: $mainTextColor, $alpha: 0.2);
        }
        .start-point--search {
          width: 90%;
          height: 100%;
          background-color: $mainBGColor;
          font-size: $large;
          font-family: 'hanna', sans-serif;
          color: $mainTextColor;
          outline: none;
          padding: 0 3%;
          border: none;
          border-radius: 1.5em;
          box-sizing: border-box;
          box-shadow: 0.2em 0.2em 0.2em rgba($color: $mainTextColor, $alpha: 0.2);
        }
      }
      .arrival-point {
        height: 2em;
        display: flex;
        align-items: center;
        font-size: $large;
        .arrival-point--search {
          width: 90%;
          height: 100%;
          background-color: $mainBGColor;
          font-size: $large;
          font-family: 'hanna', sans-serif;
          color: $mainTextColor;
          outline: none;
          padding: 0 3%;
          border: none;
          border-radius: 1.5em;
          margin-left: 10%;
          box-sizing: border-box;
          box-shadow: 0.2em 0.2em 0.2em rgba($color: $mainTextColor, $alpha: 0.2);
        }
      }
    } 
  }
  // subway map
  .subway-map {
    z-index: 1;
    transition: .4s;
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    .dimmer {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($color: #000, $alpha: 0.5);
      display: block;
    }
    .container {
      position: absolute;
      width: 90vw;
      height: 80vh;
      top: 10vh;
      bottom: 10vh;
      left: 5vw;
      right: 5vw;
      background-color: $mainBGColor;
      border-radius: 10px;
      .window-control {
        position: relative;
        display: flex;
        height: 5vh;
        background-color: #eee;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        box-sizing: border-box;
        box-shadow: inset 0 -3px 5px rgba($color: #000, $alpha: .3);
        .floor-selector {
          position: relative;
          display: flex;
          .btn-floor {
            height: 4.5vh;
            color: #656565;
            background-color: #eee;
            padding: 10px 20px;
            border-radius: 10px 10px 0 0;
            margin-top: .5vh;
            box-sizing: border-box;
            box-shadow: 1px -1px 3px rgba($color: #000, $alpha: .3);
            cursor: pointer;
            transition: .2s;
            &.active {
              color: #000;
              background-color: #fff;
              border-bottom: solid 6px #30a065;
            }
            &:hover {
              color: #000;
            }
          }
        }
        .btn-close {
          position: absolute;
          top: calc(50% - 10px);
          right: 10px;
          color: $mainTextColor;
          font-size: $large;
          cursor: pointer;
          &:hover {
            color: $subTextColor;
          }
        }
      }
      .image-container {
        .station-map {
          max-width: 85vw;
          max-height: 75vh;
          display: block;
          margin: auto;
        }
      }
    }
  }
}